@mixin border-radius($radius) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
          -ms-border-radius: $radius;
              border-radius: $radius;
    }

@mixin box-shadow($HL, $VL , $BR , $SR, $O){
        -webkit-box-shadow: $HL $VL $BR $SR rgba(0,0,0,$O);
        -moz-box-shadow: $HL $VL $BR $SR rgba(0,0,0,$O);
        box-shadow: $HL $VL $BR $SR rgba(0,0,0,$O);
    }


.Map {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 100;

    &__container {
        width: 100%;
        height: 100%;
        position: relative;
    }


    &__addParkingBtn {
        position: absolute;
        bottom: 10px;
        right: 0px;
        left: 0px;
        margin: auto;
        width: 80%;
    }

    &__confirmAddressBtn {
        position: absolute;
        bottom: 10px;
        right: 0px;
        left: 0px;
        margin: auto;
        width: 80%;
        display: none;
    }


    &__controls {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 20px;

        &_location {
            display: none;
            background: white;
            width: 36px;
            height: 36px;
            font-size: 36px;
            color: grey;
            @include border-radius(5px);
            @include box-shadow(0px,0px,15px,1px,0.3);
        }
    }

    &__header {
        display: none;
        background: white;

        height: 80px;
        position: absolute;
        width: 100%;
        top: 0px;
        text-align: center;
        @include box-shadow(0px,0px,15px,1px,0.3);

        h2 {
            font-size: 16px;
            color:#05b6e9
        }
    }

    &__centerMapMarker{
        display: none;

        width: 34px;
    	height: 41px;
        position:absolute;
		background:url("../../img/pin.png") no-repeat;
		top:50%;left:50%;
        z-index:1000;
        margin-left:-17px;
        margin-top:-41px;
        background-size: contain;
    }

    &._confirmMode {
        .Map__header, .Map__centerMapMarker, .Map__confirmAddressBtn {
            display: block;
        }

        .Map__addParkingBtn {
            display: none;
        }
    }
}