{
    "presets": [
        [
            "es2015",
            {
                "loose": true,
                "modules": false
            }
        ],["react"]
    ]
    // ,
    // "parserOpts": {
    //     "plugins": [
    //         "jsx",
    //         "flow"
    //     ]
    // }
}